@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SF-Pro.ttf') format('truetype');
  font-display: swap;
}
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.videoBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
}

.heroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1;
}

.heroContent {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1440px;
  padding: 2rem;
  text-align: left;
}

.heroContent .hat {
  display: inline-block;
  background-color: var(--red-900);
  padding: 0.25rem 0.75rem;
  border-radius: 2rem;
  font-size: 12px;
}

.title {
  margin: 2rem 0;
}

.title h1 {
  font-family: 'SF Pro', sans-serif;
  font-stretch: expanded;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 400px) {
  .title h1 {
    font-size: 2rem;
  }
}

.title p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
}

.ctaButton {
  display: inline-block;
  background-color: var(--red-900);
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 50px;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

/* CSS para a Section Serviços */
.services {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 20px;
  background-color: #f9fafb; /* Fundo suave */
}

.service {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.service .hat,
.hatClient,
.hatDif {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--white);
}

.service .hat > .hatEsq {
  padding: 0 8px;
  border-left: 1px solid #d1d5db;
}

.service .serviceCard {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.service .serviceCard:hover {
  transform: translateY(-8px);
}

@media (max-width: 768px) {
  .services {
    padding: 40px 10px;
  }

  .grid {
    grid-template-columns: 1fr; /* Para telas pequenas, 1 coluna */
  }

  .verMais {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr; /* Para telas médias, 2 colunas */
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr; /* Para telas grandes, 3 colunas */
  }
  .clients .clientOverlay {
    border-radius: 0 !important;
  }
}

/* Clientes */

.clients {
  position: relative;
  max-width: 1440px;
  margin: 0 auto 64px auto;
  border-radius: 12px !important;
  width: 100%;
  height: 70vh; /* Ajuste de altura conforme necessário */
  background-image: url('../../assets/home/cliente/bg.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; /* Texto claro sobre o fundo escuro */
}

.clientOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5);  */
  /* Sobreposição para melhorar legibilidade */
}

.clientBody {
  width: 100%;
  height: 100%;

  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titleTitle {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 550px;
}

.clientBody .clientTitle {
  font-family: 'SF Pro', sans-serif;
  font-stretch: expanded;
  font-size: 40px;
  font-weight: bold;
  line-height: 100%;
}

.sliderClient {
  position: relative;
  width: 100%;
  flex: 1;

  white-space: nowrap;
  display: flex;
  align-items: center;
  padding: 40px 0; /* adiciona espaço vertical */
}

.sliderTrack {
  display: flex;
  gap: 4rem;
  animation: scroll 20s linear infinite;
}

.sliderClient img {
  width: 150px; /* aumentei de 100px para 150px */
  margin-right: 40px; /* espaçamento maior */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 390px) {
  .clients {
    border-radius: 0 !important;
    margin: 0;
  }
  .clientBody {
    padding: 32px 16px;
  }
  .clientBody .clientTitle {
    font-size: 22px;
  }
  .hatClient > span {
    font-size: 12px;
  }
  .hatClient > p {
    font-size: 12px;
  }
  .hatClient {
    margin-bottom: 22px;
  }
  .titleTitle {
    font-size: 16px;
  }
}

/* Diferenciais */

.dif {
  margin-top: 89px;
  padding: 80px 20px;

  background-image: url('../../assets/home/bgCta.jpg');
  background-repeat: no-repeat;
  background-size: cover; /* 👈 cobre toda a área */
  background-position: center; /* 👈 centraliza */
  background-position: bottom;
  min-height: 100vh; /* 👈 garante que cubra a viewport */
}

.bodyDif {
  max-width: 1240px;
  margin: 0 auto;
}

.difBody {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 1240px;
  margin-bottom: 100px;
  justify-content: space-between;
}
@media screen and (max-width: 390px) {
  .dif {
    margin-top: 0;
  }
  .hatDif > span {
    font-size: 12px;
    line-height: 100%;
    width: 70px;
  }
  .hatDif > p {
    font-size: 12px;
    line-height: 100%;
  }
  .hatDif {
  }
  .difBody {
    margin-bottom: 32px;
  }
}
.difHeader {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.difBody .difTitle {
  font-family: 'SF Pro', sans-serif;
  font-stretch: expanded;
  font-size: 40px;
  font-weight: bold;
  line-height: 100%;
}

.titleDif {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--white);
  font-size: 40px !important;
  font-weight: 600;
  font-family: 'SF Pro', sans-serif;
  font-stretch: expanded;
  line-height: 1;
  max-width: 500px;
}

.titleDif > p {
  max-width: 550px;
}

.difCards {
  display: flex;
  flex-direction: column;
  gap: 89px;
  padding: 40px;
  border-radius: 12px;

  margin-top: 40px;
}

.difCards .card {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  width: 100%;
}

.card img {
  border-radius: 12px;
  max-width: 529px;
  object-fit: cover;
}

.textCard {
  color: var(--white);
  display: flex;
  flex-direction: column;
}

.textCard h2 {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}
.textCard p {
  margin-bottom: 32px;
}

.textCard a {
  color: var(--white);
}

.textCard a:hover {
  text-decoration: underline;
  color: var(--white);
}

/* cta */

.cta {
  margin-top: 64px;
}

.ctaBody {
  color: var(--white);
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 20px;
  display: flex;
  gap: 44px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 733.97px;
  gap: 45px;
}

.ctaHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.ctaHeader .hatCta {
  padding: 4px 12px;
  border-radius: 22px;
  color: var(--white);
  font-size: 12px;
  max-width: 254px;
  background: var(--red-900);
  object-fit: cover;
}

.titleCta {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.ctaHeader .titleCta h1 {
  font-size: 48px;
  line-height: 100%;
  font-family: 'Sf Pro';
  font-stretch: expanded;
  font-weight: 600;
}
@media screen and (min-width: 390px) {
  .hatCta {
    padding: 4px 12px;
  }
  .hatCta > span {
    font-size: 12px;
    line-height: 100%;
  }
  .ctaHeader .titleCta h1 {
    font-size: 32px;
  }
  .ctaHeader .titleCta > p {
    font-size: 12px !important;
  }
}
.ctaHeader .titleCta p {
  font-size: 22px;
}

.ctaBody .buttonCta {
  background: var(--red-900);
  max-width: auto;
  padding: 12px 32px;
  border-radius: 22px;
  color: white;
}

.ctaBody .buttonCta a {
  width: 100%;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
