.button {
    padding: 12px 32px;
    background: var(--red-900);
    border-radius:  100px;
    color: var(--white)
} 

.button:hover {
    box-shadow: 0px -1px 9px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px -1px 9px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px -1px 9px 0px rgba(0,0,0,0.4);
}