/* CSS Personalizado - Se necessário */
.bg-clientes {
    background-image: url('/path/to/your-image.jpg');
    background-size: cover;
    background-position: center;
  }

.clients-section {
    background-color: #f9fafb;
    padding: 4rem 0;
  }
  
  .clients-section .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  .clients-section .swiper-slide img {
    max-width: 100%;
    max-height: 100px; /* Ajuste o tamanho máximo das imagens */
  }
  