footer {
  background-image: url('../assets/home/footer.jpg');
  background-repeat: no-repeat;
  background-size: cover; /* 👈 cobre toda a área */
  background-position: center; /* 👈 centraliza */
}

.footer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 20px;
  color: white;
}

.footer .body {
  display: flex;
  gap: 32px;
}

.footer .body .links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 64px;
}

.body .logo {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 30%;
}

.body .logo img {
  width: 64px;
}

.empresa h2 {
  font-size: 22px !important;
}

.links .link {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.links .link p {
  font-size: 16px;
  font-weight: 600;
}
.links .link ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.links .link ul > li > a {
  font-size: 14px;
}

.links .map {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.empresa p {
  opacity: 40%;
}

.link .contato {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 32px !important;
}

/* ✅ Responsividade para telas menores */
@media (max-width: 768px) {
  .footer .body {
    flex-direction: column;
    align-items: center;
  }

  .body .logo {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .footer .body .links {
    flex-direction: column;
    align-items: center;
  }

  .links .link,
  .links .map {
    width: 100%;
    max-width: 400px;
    text-align: center;
    align-items: center;
  }

  .links .map iframe {
    width: 100% !important;
    height: 180px;
  }
}
