/* Estilo para o Header */
.header {
  background: var(--white); /* Cor de fundo do cabeçalho */
  position: fixed; /* Fixa o cabeçalho no topo da página */
  top: 0; /* Alinha ao topo */
  left: 0; /* Alinha à esquerda */
  width: 100%; /* Garante que o cabeçalho ocupe toda a largura da página */
  z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos */
}

/* Estilos para a navegação */
.nav {
  flex-grow: 1; /* A navegação ocupa o restante do espaço disponível */
}

/* Estilos para o link ativo (quando o usuário estiver na página correspondente) */
.active {
  color: var(--red-900); /* Muda a cor ao passar o mouse */
}

/* Estilo de hover nos itens de navegação */
.nav ul li:hover {
  color: var(--red-900); /* Muda a cor ao passar o mouse */
  border-bottom: 2px solid var(--red-900); /* Adiciona um underline */
}
