@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SF-Pro.ttf') format('truetype');
  font-display: swap;
}

.section {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 128px auto;
  padding: 0 16px;
}

.body {
  background-image: url('../assets/service/section.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 200px 32px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 1440px;
  color: var(--white);
}

.body .pill {
  display: inline-block;
  background: var(--red-900);
  padding: 4px 12px;
  border-radius: 2rem;
  width: fit-content;
  max-width: 100%;
  font-size: 12px;
}

.section .info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 700px;
}

.info h1 {
  font-family: 'SF Pro', sans-serif;
  font-stretch: expanded;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  line-height: 100%;
}

.pill span {
  color: var(--white);
}

.button {
  color: white;
  background: #ff0000;
  padding: 12px 32px;
  border-radius: 32px;
  display: inline-block;
  width: fit-content;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.button:hover {
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.65);
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .section {
    width: 100%;
    padding: 0 16px;
    margin: 48px auto;
  }

  .body {
    width: 100%;
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 24px;
    border-radius: 12px;
  }

  .body .pill {
    font-size: 10px;
    padding: 4px 10px;
  }

  .info {
    width: 100% !important;
    text-align: center;
  }

  .info h1 {
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: center;
  }

  .info p {
    font-size: 14px;
    text-align: center;
  }

  .button {
    padding: 10px 24px;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1220px) {
  .section {
    width: 100%;
    margin: 64px auto;
    padding: 0 16px;
  }

  .body {
    width: 100%;
    padding: 80px 48px;
    border-radius: 12px;
  }

  .info {
    width: 100% !important;
  }

  .info h1 {
    font-size: 2rem;
  }
}
